<br>


<div class="row">
  <div class="small-12 medium-6 large-6 columns" id="welcome">
    <center>
      <div id="iball" class="bounce">iBall1</div>
      <div id="quote">Find<Br> Games<br>Now<br></div>
    </center>
  </div>

  <div class="small-12 medium-5 large-5 columns end" id="welcome-login">
    Login <br>
    <% if !session[:user_id] %>
        <%= render partial: "layouts/login" %>
    <% else %>
      <%= render partial: "games/search" %>
      <br> -OR- <br>
      <%= render partial: "games/new" %>
    <% end %>
  </div>
</div>
