<% if @found_games.empty? %>
  <h1> Sorry, no games were found at the location and date.</h1>
<% else %>
  <% @found_games.map do |event| %>
    <%= link_to event.title, event %><br>
    <%= event.address %><br>
  <% end %>
<% end %>
