/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation
 *= require foundation_and_overrides

 */
@font-face {
  font-family: "Intro Cond Black Free";
  src: url('/assets/introcondblackfree.otf') format("truetype");
}
@font-face {
  font-family: "Krinkes";
  src: url('/assets/krinkes.ttf') format("truetype");
}

@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
  40% {
    @include transform(translateY(-30px));
  }
  60% {
    @include transform(translateY(-15px));
  }
}


.rotate {
  font-family: verdana, sans-serif;
  color: #000000;
  -webkit-transform: rotate(340deg);
  -moz-transform: rotate(340deg);
  -ms-transform: rotate(340deg);
  -o-transform: rotate(340deg);
  transform: rotate(340deg);
}

body{
  background: url('/assets/wood2.jpg') no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: blue;
}

#welcome {
  color: white ;
  font-family: "Intro Cond Black Free";
  font-size: 3em;
  line-height: 76%;
  letter-spacing: -.06em;
  margin-top: 2em;
}

#iball{
  font-family: "Krinkes";
  color: white;
  -webkit-transform: rotate(340deg);
  -moz-transform: rotate(340deg);
  -ms-transform: rotate(340deg);
  -o-transform: rotate(340deg);
  transform: rotate(340deg);
}

#quote{
  margin-top: .5em;
}

#welcome-login {
  color: white;
  font-family: "Intro Cond Black Free";
  margin-top: 7em;
}

.button.tiny{
  background-color: #C0392b;
  font-family: "Intro Cond Black Free";
}

.button.tiny:hover{
  background-color: #7f8c8d;
  font-family: "Intro Cond Black Free";
}

#navlink a{
  font-family: "Intro Cond Black Free";
  color: white !important;
}
#navlink {
  text-align: right;
  font-family: "Intro Cond Black Free";
  color: white !important;
}

#navlog a{
  font-family: "Intro Cond Black Free";
  color: white !important;
}

.navlogo {
  text-align: center;
  color: white !important;
  max-width: 50px;
  max-height: 50px;
}